.hello-wrapper {
  margin-bottom: 5rem;
}

.hello-wrapper > .title {
  margin-bottom: 1rem;
}

h3 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 0.25rem;
}

p {
  color: rgb(40, 45, 49);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}
